$darkWhite: hsl(210, 9%, 86%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(204, 4%, 78%);
$shadowGray: hsl(204, 14%, 58%);
$orange: hsl(45, 100%, 51%);
$darkOrange: hsl(45, 96%, 47%);
$green: hsl(156, 60%, 73%);

$lightSand: hsl(0, 0%, 90%);
$darkSand: hsl(33, 80%, 83%);
$deepSand: hsl(33, 80%, 77%);
$lightBlue: hsl(209, 56%, 92%);
$lightGreen: hsl(202, 37%, 76%);
$lightGray: hsl(203, 13%, 53%);
$darkBlue: hsl(212, 23%, 35%);
$deepBlue: hsl(202, 19%, 20%);

$mainText: hsl(202, 19%, 20%);
$subText: hsl(212, 23%, 35%);

$transparentBlack: rgba(0, 0, 0, 0.9);
