// --------------------------SHARED STYLES------------------------------
@use 'colors';
@use 'fonts';
@use 'mixins';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
}

body {
	font-family: fonts.$mulish-font;
	font-weight: 500;
}

.main-container {
	margin: 0 auto;
	max-width: 80rem;
	padding: 0 1rem;
}

// --------------------------SPLASH SCREEN COMPONENT------------------------------
.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 999999;
	background-color: colors.$lightSand;
	display: flex;
	justify-content: center;
	align-items: center;

	&__text {
		font-size: clamp(
			1.2rem,
			1.0222222222222221rem + 0.7111111111111114vw,
			1.6rem
		);
		color: colors.$mainText;
	}
}

// --------------------------TOP BUTTON COMPONENT------------------------------
.top-button {
	z-index: 998;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	outline: none;
	border: none;
	background-color: colors.$orange;
	padding: 0.9rem 1rem;
	box-shadow: 0 0 0.5rem 0.0625rem colors.$lightGray;
	cursor: pointer;

	@include mixins.borderRadius(100%);
	@include mixins.transition();

	&__icon {
		font-size: 1rem;
	}

	&:hover {
		background-color: colors.$darkOrange;
	}
}

// --------------------------NAVBAR COMPONENT------------------------------
.header {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo,
	&__logo--mini {
		height: 2rem;
	}

	&__logo--mini {
		display: none;
	}

	&__menu {
		display: flex;
		gap: 1.5rem;
		list-style: none;
	}

	&__burger-menu {
		display: none;
		cursor: pointer;

		&--active {
			z-index: 99999;
			position: fixed;
			top: 1.5rem;
			right: 1rem;
		}

		&--active .header__burger-bar:nth-child(2) {
			opacity: 0;
		}

		&--active .header__burger-bar:nth-child(1) {
			@include mixins.translateYAndRotate(0.5rem, 45deg);
		}

		&--active .header__burger-bar:nth-child(3) {
			@include mixins.translateYAndRotate(-0.5rem, -45deg);
		}

		&--active .header__burger-bar {
			background-color: colors.$white;
		}
	}

	&__burger-bar {
		display: block;
		height: 0.1875rem;
		width: 1.5625rem;
		background-color: colors.$subText;
		margin: 0.3125rem 0.5rem;

		@include mixins.borderRadius(0.625rem);
		@include mixins.transition();
	}

	&__list:last-child &__link {
		font-weight: 600;
		color: colors.$white;
		background-color: colors.$black;
		padding: 0.8rem 1.1rem;

		@include mixins.borderRadius();

		&:hover {
			background-color: colors.$darkBlue;
		}
	}

	&__link {
		font-size: 1rem;
		text-decoration: none;
		color: colors.$mainText;
		cursor: pointer;

		@include mixins.transition();

		&:hover {
			color: colors.$lightGray;
		}
	}

	&__mobile-nav {
		z-index: 999;
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: colors.$transparentBlack;

		@include mixins.transition();
	}

	&__mobile-menu {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 2rem;
	}

	&__mobile-list {
		list-style-type: none;
	}

	&__mobile-link {
		font-size: 1.1rem;
		text-decoration: none;
		color: colors.$white;
		cursor: pointer;

		@include mixins.transition();

		&:hover {
			color: colors.$gray;
		}
	}
}

@media all and (max-width: 68.75em) {
	.header {
		&__list:last-child &__link {
			font-size: 0.9rem;
			font-weight: 500;
			padding: 0.7rem 0.9rem;
		}
	}
}

@media all and (max-width: 62.5em) {
	.header {
		&__nav {
			display: none;
		}

		&__burger-menu {
			display: block;
		}
	}
}

@media all and (max-width: 34.375em) {
	.header__mobile-link {
		font-size: 1rem;
	}
}

@media all and (max-width: 31.25em) {
	.header {
		&__logo,
		&__logo--mini {
			height: 1.7rem;
		}
	}
}

@media all and (max-width: 21.875em) {
	.header__logo {
		display: none;

		&--mini {
			display: block;
		}
	}
}

@media all and (max-height: 18.75em) {
	.header__mobile-menu {
		row-gap: 1rem;
	}
}

// --------------------------HEADER COMPONENT------------------------------
#main {
	margin: 8rem 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: flex-start;
	gap: 5rem;
}

.main {
	&__title {
		margin-top: 4rem;
		font-size: clamp(
			1.8rem,
			1.2222222222222223rem + 2.3111111111111113vw,
			3.1rem
		);
		line-height: 1.3;
		color: colors.$mainText;

		& mark {
			background-color: colors.$lightBlue;
			color: colors.$mainText;
		}
	}

	&__description {
		margin-top: 1.5rem;
		font-size: 1rem;
		line-height: 1.5;
		color: colors.$subText;
	}

	&__link {
		display: inline-block;
		margin-top: 1.5rem;
		color: colors.$white;
		font-size: 1rem;
		font-weight: 600;
		background-color: colors.$black;
		padding: 1rem 1.5rem;
		text-decoration: none;

		@include mixins.borderRadius();
		@include mixins.transition();

		&:hover {
			background-color: colors.$darkBlue;
		}
	}

	&__image {
		width: 37.5rem;
		max-width: 100%;
		display: block;
	}

	&__bolt-icon {
		margin-left: 0.5rem;
	}
}

@media all and (max-width: 75em) {
	#main {
		margin: 6rem 0;
		gap: 2rem;
	}
}

@media all and (max-width: 62.5em) {
	#main {
		display: block;
		max-width: 80vw;
		margin: 8rem 0;
	}

	.main {
		&__image {
			display: none;
		}

		&__title {
			line-height: 1.1;
		}

		&__description {
			line-height: 1.3;
		}
	}
}

@media all and (max-width: 56.25em) {
	.main__title mark {
		background-color: transparent;
	}
}

@media all and (max-width: 46.875em) {
	#main {
		max-width: 100vw;
		text-align: center;
		margin: 6rem 0;
	}

	.main__link {
		font-weight: 500;
		font-size: 0.9rem;
		padding: 0.8rem 1.1rem;
	}
}

@media all and (max-width: 28.125em) {
	.main__description {
		font-size: 0.9rem;
	}
}

// --------------------------SECTION TRANSITION COMPONENT------------------------------
.section-transition {
	background-size: contain;
	background-repeat: repeat-x;
	height: 3.125rem;
}

.footer .section-transition {
	height: 5rem;
}

@media all and (max-width: 46.875em) {
	.section-transition {
		height: 2rem;
	}
}

// --------------------------SECTION TITLE COMPONENT------------------------------
.section-title {
	text-align: center;
	padding: 5rem 0;
	color: colors.$mainText;
	font-size: clamp(
		1.5rem,
		1.2333333333333334rem + 1.0666666666666669vw,
		2.1rem
	);
	font-weight: 600;

	&::before {
		content: '';
		display: block;
		margin: 0.5rem auto;
		height: 0.1875rem;
		width: 5rem;
		background-color: colors.$subText;
	}
}

.our-team .section-title,
.reviews .section-title {
	color: colors.$white;

	&::before {
		background-color: colors.$lightSand;
	}
}

@media all and (max-width: 50em) {
	.section-title {
		padding: 3rem 0;

		&::before {
			height: 0.125rem;
			width: 4rem;
		}
	}
}

// --------------------------WHY US COMPONENT------------------------------
.why-us {
	background-color: colors.$lightBlue;

	.main-container {
		position: relative;
	}

	&__fish {
		position: absolute;
		top: 1rem;
		right: 12rem;
		height: 2rem;
	}

	&__container {
		gap: 1.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 7rem;
	}

	&__card {
		text-align: center;
		max-width: 23rem;
		background-color: colors.$darkSand;
		padding: 2rem 1.5rem;
		border: 0.0625rem solid colors.$lightGreen;

		@include mixins.borderRadius();
		@include mixins.transition();

		&:hover {
			background-color: colors.$deepSand;
			box-shadow: 0 0 0.5rem 0.0625rem colors.$gray;
		}
	}

	&__icon {
		margin-bottom: 1rem;
		font-size: clamp(
			1.2rem,
			1.0666666666666667rem + 0.5333333333333334vw,
			1.5rem
		);
		color: colors.$mainText;
	}

	&__title {
		color: colors.$mainText;
		font-weight: 600;
		font-size: clamp(
			1rem,
			0.9111111111111111rem + 0.3555555555555555vw,
			1.2rem
		);
	}

	&__description {
		margin: 0.2rem 0;
		font-size: clamp(
			0.9rem,
			0.8555555555555556rem + 0.17777777777777776vw,
			1rem
		);
		color: colors.$subText;
		line-height: 1.3;

		&::before {
			content: '...';
			color: colors.$subText;
			display: block;
		}
	}
}

@media all and (max-width: 62.5em) {
	.why-us__fish {
		display: none;
	}
}

@media all and (max-width: 50em) {
	.why-us {
		&__container {
			padding-bottom: 4rem;
		}

		&__card {
			padding: 1.5rem 1rem;
		}
	}
}

// --------------------------SERVICES COMPONENT------------------------------
.services {
	background-color: colors.$lightGreen;

	.main-container {
		position: relative;
	}

	&__fish {
		position: absolute;

		&--one {
			height: 2rem;
			top: 10rem;
			left: 15rem;
		}

		&--two {
			height: 2rem;
			top: 5rem;
			right: 10rem;
		}
	}

	&__tabs {
		width: min-content;
		display: flex;
		justify-content: center;
		background-color: colors.$white;
		padding: 0.15rem;
		margin: 0 auto;

		@include mixins.borderRadius();
	}

	&__tab-item {
		text-align: center;
		width: 12rem;
		border: none;
		outline: none;
		font-size: clamp(
			0.9rem,
			0.8555555555555556rem + 0.17777777777777776vw,
			1rem
		);
		padding: 0.8rem 0;

		@include mixins.borderRadius();

		&--active {
			color: colors.$white;
			background-color: colors.$lightGray;
			cursor: not-allowed;
		}

		&--disabled {
			color: colors.$mainText;
			background-color: colors.$white;
			cursor: pointer;
		}
	}

	&__container {
		gap: 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5rem 0 7rem 0;
	}

	&__card {
		position: relative;
		overflow: hidden;
		background-color: colors.$white;
		text-align: center;
		box-shadow: 0 0 1rem 0.0625rem colors.$shadowGray;

		@include mixins.borderRadius();
		@include mixins.transition();

		&:hover {
			box-shadow: 0 0.5rem 1rem 0.0625rem colors.$shadowGray;
			@include mixins.scale();
		}
	}

	&__triangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 3rem 3rem 0 0;
		border-color: colors.$lightBlue transparent transparent transparent;
	}

	&__image {
		height: 17rem;
		width: 15rem;
		padding: 3rem 3rem 0 3rem;
		object-fit: contain;
		object-position: center;
	}

	&__title {
		color: colors.$mainText;
		font-size: clamp(
			1rem,
			0.9111111111111111rem + 0.3555555555555555vw,
			1.2rem
		);
		font-weight: 600;
		padding: 2.2rem 3rem 0;

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 0.0625rem;
			background-color: colors.$gray;
			margin-bottom: 1.5rem;
		}

		&::after {
			content: '...';
			color: colors.$mainText;
			display: block;
		}
	}

	&__description {
		color: colors.$subText;
		font-size: clamp(
			0.9rem,
			0.8555555555555556rem + 0.17777777777777776vw,
			1rem
		);
		margin-top: 0.5rem;
	}

	&__price {
		margin-top: 1.5rem;
		color: colors.$white;
		font-weight: 600;
		font-size: clamp(
			1.2rem,
			1.0666666666666667rem + 0.5333333333333334vw,
			1.5rem
		);
		padding: 0.8rem 0;
		background-color: colors.$lightGray;

		@include mixins.borderRadius(0 0 0.8rem 0.8rem);

		&--per-hour {
			color: colors.$lightSand;
			font-weight: 500;
			font-size: clamp(
				0.9rem,
				0.8555555555555556rem + 0.17777777777777776vw,
				1rem
			);
		}
	}
}

@media all and (max-width: 62.5em) {
	.services__fish {
		&--one,
		&--two {
			display: none;
		}
	}
}

@media all and (max-width: 56.25em) {
	.services {
		&__container {
			gap: 2rem;
		}

		&__image {
			height: 13rem;
			padding: 2rem 2rem 0 2rem;
		}
	}
}

@media all and (max-width: 50em) {
	.services__container {
		padding-bottom: 4rem;
	}
}

@media all and (max-width: 43.75em) {
	.services {
		&__tab-item {
			padding: 0.7rem 0;
			width: 10rem;

			&:last-child {
				width: 8rem;
			}
		}
	}
}

@media all and (max-width: 21.875em) {
	.services {
		&__tab-item {
			width: 8.5rem;

			&:last-child {
				width: 6rem;
			}
		}
	}
}

// --------------------------OUR TEAM COMPONENT------------------------------
.our-team {
	background-color: colors.$lightGray;

	.main-container {
		position: relative;
	}

	&__dolphin {
		position: absolute;
		height: 3.5rem;

		&--one {
			top: 5rem;
			left: 10rem;
		}

		&--two {
			top: 11rem;
			right: 10rem;
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 5rem;
		padding: 2rem 0 7rem 0;
	}

	&__card {
		text-align: center;
		cursor: pointer;
		@include mixins.transition();

		&:hover {
			@include mixins.scale();
		}
	}

	&__avatar {
		height: 15rem;
		margin-bottom: -7.5rem;
		border: 0.1875rem solid colors.$lightBlue;
		box-shadow: 0 0 0.7rem 0.0625rem colors.$darkBlue;

		@include mixins.borderRadius(100%);
	}

	&__info {
		background-color: colors.$lightBlue;
		width: 21rem;
		box-shadow: 0 0.5rem 0.7rem 0.0625rem colors.$darkBlue;

		@include mixins.borderRadius(0 0 0.8rem 0.8rem);
	}

	&__fullname {
		color: colors.$mainText;
		font-size: clamp(
			1rem,
			0.8888888888888888rem + 0.4444444444444444vw,
			1.25rem
		);
		font-weight: 600;
		padding-top: 9rem;

		&::after {
			content: '';
			display: block;
			height: 0.125rem;
			width: 2rem;
			background-color: colors.$subText;
			margin: 0.8rem auto 0;
		}
	}

	&__position {
		color: colors.$subText;
		font-size: clamp(
			0.9rem,
			0.8555555555555556rem + 0.17777777777777776vw,
			1rem
		);
		padding: 1rem 0 2rem;
	}
}

@media all and (max-width: 62.5em) {
	.our-team {
		&__dolphin {
			&--one,
			&--two {
				display: none;
			}
		}

		&__container {
			gap: 3rem;
		}
	}
}

@media all and (max-width: 50em) {
	.our-team {
		&__container {
			padding: 2rem 0 5rem 0;
		}

		&__avatar {
			height: 12rem;
			margin-bottom: -6rem;
		}

		&__info {
			width: 19rem;
		}

		&__fullname {
			padding-top: 7rem;
		}
	}
}

@media all and (max-width: 28.125em) {
	.our-team__info {
		max-width: 18rem;
	}
}

@media all and (max-width: 21.875em) {
	.our-team__info {
		width: 16rem;
	}
}

// --------------------------OUR TEAM AVATAR DIALOG COMPONENT------------------------------
.avatar-dialog {
	background-color: colors.$transparentBlack;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;

	&__close-icon {
		color: colors.$white;
		font-size: 2rem;
		position: fixed;
		top: 1rem;
		right: 1rem;
		cursor: pointer;

		@include mixins.transition();

		&:hover {
			color: colors.$lightGray;
		}
	}

	&__image {
		margin: auto;
		display: block;
		width: 30vw;

		@include mixins.borderRadius();
	}
}

@media all and (max-width: 68.75em) {
	.avatar-dialog__image {
		width: 35vw;
	}
}

@media all and (max-width: 62.5em) {
	.avatar-dialog__image {
		width: 40vw;
	}
}

@media all and (max-width: 50em) {
	.avatar-dialog__image {
		width: 50vw;
	}
}

@media all and (max-width: 37.5em) {
	.avatar-dialog__image {
		width: 60vw;
	}
}

@media all and (max-width: 25em) {
	.avatar-dialog__image {
		width: 70vw;
	}
}

// --------------------------REVIEWS COMPONENT------------------------------
.reviews {
	background-color: colors.$darkBlue;

	.main-container {
		position: relative;
	}

	&__fish {
		position: absolute;
		height: 2.5rem;

		&--three {
			top: 5rem;
			left: 8rem;
		}

		&--four {
			bottom: 1rem;
			right: 5rem;
		}
	}
}

@media all and (max-width: 62.5em) {
	.reviews__fish {
		&--three,
		&--four {
			display: none;
		}
	}
}

// --------------------------REVIEWS SLIDER COMPONENT------------------------------
.swiper-wrapper {
	padding-bottom: 1rem;
}

.swiper-pagination {
	bottom: 0rem !important;
}

.swiper-pagination-bullet {
	height: 0.6rem !important;
	width: 0.6rem !important;
}

.swiper-pagination-bullet-active {
	background: colors.$darkOrange !important;
}

.reviews {
	&__slider {
		padding: 0 0 4rem;
	}

	&__item {
		position: relative;
		margin: 0 auto 2rem;
		padding: 1.5rem 2.5rem 2rem;
		max-width: 45rem;
		background-color: colors.$white;
		text-align: center;
		box-shadow: 0 0.5rem 0.9rem 0.2rem colors.$deepBlue;

		@include mixins.borderRadius();

		&-container {
			margin: 0 1rem;
		}
	}

	&__triangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 3rem 3rem 0 0;
		border-color: colors.$lightBlue transparent transparent transparent;
	}

	&__review {
		font-size: clamp(
			1rem,
			0.9555555555555555rem + 0.17777777777777795vw,
			1.1rem
		);
		color: colors.$mainText;

		&::before {
			content: '\201C';
			color: colors.$orange;
			font-size: clamp(
				2.5rem,
				2.2777777777777777rem + 0.8888888888888888vw,
				3rem
			);
			display: block;
		}
	}

	&__name {
		font-size: clamp(
			0.9rem,
			0.8555555555555556rem + 0.17777777777777776vw,
			1rem
		);
		color: colors.$subText;

		&::before {
			content: '...';
			display: block;
			color: colors.$subText;
			margin-top: 0.5rem;
		}
	}
}

@media all and (max-width: 56.25em) {
	.bear-react-carousel__nav-group {
		display: none;
	}
}

@media all and (max-width: 50em) {
	.reviews {
		&__slider {
			padding: 0 0 2rem;
		}

		&__item {
			padding: 1.2rem 2rem 1.5rem;
		}
	}
}

// --------------------------FOOTER COMPONENT------------------------------
.footer {
	background-color: colors.$deepBlue;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0 6.5rem;
	}

	&__logo {
		margin-top: 2rem;
		height: 1.7rem;
	}

	&__link {
		display: inline-block;
		text-decoration: none;
		color: colors.$white;
		font-size: 0.9rem;
		background-color: colors.$darkBlue;
		padding: 0.7rem 1.2rem;
		margin-top: 1rem;

		@include mixins.borderRadius();
		@include mixins.transition();

		&:hover {
			background-color: colors.$darkOrange;
			color: colors.$mainText;
		}
	}

	&__comments-icon {
		margin-left: 0.5rem;
	}

	&__submarine {
		height: 4.5rem;
		position: absolute;
		bottom: 0;
		left: 15vw;
	}
}

.footer .main-container {
	position: relative;
}

@media all and (max-width: 62.5em) {
	.footer {
		&__submarine {
			display: none;
		}

		&__content {
			padding: 2rem 0 3.5rem;
		}
	}
}

@media all and (max-width: 37.5em) {
	.footer {
		&__content {
			justify-content: center;
			padding: 2rem 0;
		}

		&__logo {
			display: none;
		}
	}
}

// --------------------------NOT FOUND COMPONENT------------------------------
.not-found {
	height: 100vh;
	width: 100vw;
	background-color: colors.$deepBlue;
	overflow: auto;

	&__whale-content {
		text-align: center;
		max-width: 35rem;
		margin: 5rem auto;
		padding: 0 1rem;
	}

	&__image {
		width: 100%;
		max-width: 25rem;
		display: block;
		margin: 0 auto;
		padding: 0 2rem;
	}

	&__error {
		color: colors.$white;
		font-size: clamp(
			2rem,
			1.4666666666666666rem + 2.1333333333333337vw,
			3.2rem
		);
		font-family: fonts.$jet-brains-font;
		margin-top: 2rem;
	}

	&__main-text {
		color: colors.$green;
		font-size: clamp(
			1rem,
			0.8666666666666667rem + 0.5333333333333334vw,
			1.3rem
		);
		font-family: fonts.$jet-brains-font;
		margin-top: 1rem;
	}

	&__sub-text {
		position: absolute;
		bottom: 2rem;
		left: 50%;
		color: colors.$white;
		font-family: fonts.$jet-brains-font;
		font-size: clamp(
			0.9rem,
			0.8555555555555556rem + 0.17777777777777776vw,
			1rem
		);
		width: 100%;
		text-align: center;
		padding: 0 1rem;

		@include mixins.translate();
	}

	&__link {
		color: colors.$green;
		text-decoration: underline;
	}
}

@media all and (max-height: 40.625em) {
	.not-found__whale-content {
		margin: 2rem auto;
	}
}

@media all and (max-height: 34.375em) {
	.not-found__sub-text {
		position: relative;
		top: 5rem;
		padding-bottom: 1.5rem;
	}
}

// --------------------------CONTACT US COMPONENT------------------------------
.contact-us {
	&__link {
		text-decoration: none;
		color: colors.$black;
		font-size: 1.2rem;
		font-weight: 600;

		@include mixins.transition();

		&:hover {
			color: colors.$lightGreen;
		}
	}

	&__container {
		height: 100vh;
		display: grid;
		grid-template-columns: minmax(18rem, 32rem) minmax(18rem, 40rem);
		justify-content: center;
		align-items: center;
		gap: 5rem;
		padding: 3rem 1rem;
	}

	&__title {
		line-height: 1.4;
		font-weight: 600;
		text-transform: capitalize;
		font-size: clamp(
			1.7rem,
			1.2555555555555555rem + 1.7777777777777781vw,
			2.7rem
		);
		color: colors.$mainText;

		& mark {
			background-color: colors.$darkOrange;
			color: colors.$mainText;
		}
	}

	&__image {
		width: 100%;
		max-width: 23rem;
		margin-top: 1rem;
		margin-bottom: 5rem;
	}

	&__content {
		text-align: center;
	}

	&__contacts-title {
		color: colors.$mainText;
		font-size: clamp(
			0.9rem,
			0.8111111111111111rem + 0.3555555555555557vw,
			1.1rem
		);
		line-height: 1.4;
	}

	&__icon {
		height: 1.1rem;
		width: 1.1rem;
		margin: 1rem;
		color: colors.$darkBlue;
		border: 0.0625rem solid colors.$darkBlue;
		padding: 1rem;
		cursor: pointer;

		@include mixins.borderRadius(100%);
		@include mixins.transition();

		&:hover {
			background-color: colors.$darkOrange;
			border-color: colors.$darkOrange;
		}
	}

	&__form-title {
		color: colors.$mainText;
		font-size: clamp(
			0.9rem,
			0.8111111111111111rem + 0.3555555555555557vw,
			1.1rem
		);
		line-height: 1.4;

		&::before {
			content: '';
			display: block;
			height: 0.0625rem;
			width: 7rem;
			background-color: colors.$subText;
			margin: 1rem auto 1.5rem;
		}
	}

	&__textarea {
		resize: none;
		display: block;
		width: 100%;
		max-width: 35rem;
		height: 10rem;
		border: 0.0625rem solid colors.$gray;
		outline: none;
		padding: 1rem;
		color: colors.$mainText;
		background-color: colors.$lightBlue;
		margin: 1rem auto;
		font-size: clamp(
			0.9rem,
			0.8555555555555556rem + 0.17777777777777776vw,
			1rem
		);

		@include mixins.borderRadius();
		@include mixins.transition();

		&:hover,
		&:focus {
			border-color: colors.$black;
		}
	}

	&__button {
		outline: none;
		border: none;
		color: colors.$white;
		font-size: clamp(
			0.9rem,
			0.8555555555555556rem + 0.17777777777777776vw,
			1rem
		);
		font-weight: 600;
		background-color: colors.$black;
		padding: 0.8rem 1.7rem;
		cursor: pointer;

		@include mixins.borderRadius();
		@include mixins.transition();

		&:hover {
			background-color: colors.$darkOrange;
			color: colors.$darkBlue;
		}
	}

	&__spin-icon {
		font-size: clamp(
			1.5rem,
			1.2777777777777777rem + 0.8888888888888888vw,
			2rem
		);
		color: colors.$subText;
	}
}

@media all and (max-width: 62.5em) {
	.contact-us {
		&__container {
			gap: 2rem;
		}

		&__image {
			max-width: 19rem;
		}
	}
}

@media all and (max-width: 50em) {
	.contact-us {
		&__container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: 0;
		}

		&__title {
			text-align: center;
		}

		&__image {
			display: none;
		}

		&__contacts-title {
			margin: 1.5rem 0 1rem;
		}

		&__button,
		&__spin-icon {
			margin: 0 auto 4rem;
			display: block;
		}
	}
}

@media all and (max-width: 37.5em) {
	.contact-us__icon {
		margin: 0.7rem;
		height: 1rem;
		width: 1rem;
	}
}

@media all and (max-width: 34.375em) {
	.contact-us__contacts-title {
		margin-top: 0;
	}
}

@media all and (max-width: 25em) {
	.contact-us {
		&__title mark {
			background-color: transparent;
		}

		&__icon {
			margin: 0.5rem;
		}
	}
}
