@use 'colors';
@use 'fonts';
@use 'mixins';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
}

body {
	font-family: fonts.$mulish-font;
	font-weight: 500;
}

.main-container {
	margin: 0 auto;
	max-width: 80rem;
	padding: 0 1rem;
}

// --------------------------SECTION TITLE------------------------------
.section-title {
	text-align: center;
	padding: 5rem 0;
	color: colors.$mainText;
	font-size: clamp(
		1.5rem,
		1.2333333333333334rem + 1.0666666666666669vw,
		2.1rem
	);
	font-weight: 600;

	&::before {
		content: '';
		display: block;
		margin: 0.5rem auto;
		height: 0.1875rem;
		width: 5rem;
		background-color: colors.$subText;
	}
}

@media all and (max-width: 50em) {
	.section-title {
		padding: 3rem 0;

		&::before {
			height: 0.125rem;
			width: 4rem;
		}
	}
}

// --------------------------SECTION TRANSITION------------------------------
.section-transition {
	background-size: contain;
	background-repeat: repeat-x;
	height: 3.125rem;
}

@media all and (max-width: 46.875em) {
	.section-transition {
		height: 2rem;
	}
}
